.item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    flex-wrap: wrap;
    width: 300px;
   

}
.item{
    display: flex;
    flex-direction: column;

}
.item img{
    margin-top: 0;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 80px;
    gap: 4px;
}
.item p{
    margin: 6px 0;
}
